*, *::after, *::before {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    background-image: url(./images/drum-kit.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.keys {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1300px;
    text-align: center;
    text-transform: uppercase;
    flex-grow: 1;
}

.key {
    margin: 1em;
    padding: 0.5em;
    width: 5em;
    background: rgba(0,0,0,0.4);
    border: 0.3em solid black;
    border-radius: 10px;
    transition: all .07s ease;
    cursor: pointer;
}

.key > kbd {
    color: white;
    font-size: 3.5em;
}

.sound {
    color: #ffc600;
    font-size: 0.8em;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1em #ffc600;
}

.attribution {
    font-size: 0.7em;
    color: lightsteelblue;
    width: 100%;
    text-align: center;
    padding: 2em 0 1em;
}

.attribution a {
    color: lightgray;
}